In [104]:
# import libs
import requests
import json
import pandas as pd
import numpy as np
import time

# define paths
API_key_path = "C:/Users/phili/Documents/DTU/S2023/42578 Advanced Business Analytics/keys/salling_bearer.txt"

In [95]:
# get credentials
def get_file_contents(filename):
    try:
        with open(filename, 'r') as f:
            # It's assumed our file contains a single line,
            # with our API key
            return f.read().strip()
    except FileNotFoundError:
        print("'%s' file not found" % filename)

In [96]:
API_key = get_file_contents(API_key_path)

In [105]:
# Set the API endpoint URL
endpoint_url = "https://api.sallinggroup.com/v1/food-waste?zip=2100"

# Set your API key or access token as a header
headers = {"Authorization": f"Bearer {API_key}"}

# Make the HTTP GET request to the API endpoint
response = requests.get(endpoint_url, headers=headers)

# Check the response status code
if response.status_code == 200:
    # Parse the response content as JSON
    data = response.json()

    print(response.status_code)
    # Extract the relevant data from the JSON object
    # and do something with it (e.g. print it out)
    print('Data Retrieval has been compeleted')
else:
    print("Error: Failed to retrieve data from API")

df = pd.json_normalize(data, record_path=['clearances'], meta=['store', ['store', 'brand'], ['store', 'name'], ['store', 'id']])

Error: Failed to retrieve data from API

In [98]:
# define data frame
df.head()

,offer.currency,offer.discount,offer.ean,offer.endTime,offer.lastUpdate,offer.newPrice,offer.originalPrice,offer.percentDiscount,offer.startTime,offer.stock,offer.stockUnit,product.description,product.ean,product.image,product.categories.da,product.categories.en,store,store.brand,store.name,store.id
0,DKK,30.00,2006895,2023-03-03T22:59:59.000Z,2023-03-02T15:14:05.000Z,35.00,65.0,46.15,2023-03-02T10:13:27.000Z,518.181,kg,FADKOTELET,250738,None,NaN,NaN,"{'address': {'city': 'København Ø', 'country':...",foetex,føtex Østerbro Centret,78067122-cba4-431d-893e-2b2c0c91e41e
1,DKK,44.00,2006994,2023-03-03T22:59:59.000Z,2023-03-03T09:36:49.000Z,25.00,69.0,63.77,2023-03-03T06:47:38.000Z,518.181,kg,SPARERIBS SLAGTEREN,251747,None,NaN,NaN,"{'address': {'city': 'København Ø', 'country':...",foetex,føtex Østerbro Centret,78067122-cba4-431d-893e-2b2c0c91e41e
2,DKK,29.00,2006758,2023-03-03T22:59:59.000Z,2023-03-02T18:14:11.000Z,40.00,69.0,42.03,2023-03-02T05:31:57.000Z,518.181,kg,BACON&CHEESE KOTELET,251941,https://digitalassets.sallinggroup.com/image/u...,Middagsretter>Færdigretter>Mejeri & køl>Classi...,Dinner Meals>Ready To Eat Meals>Dairy And Cold...,"{'address': {'city': 'København Ø', 'country':...",foetex,føtex Østerbro Centret,78067122-cba4-431d-893e-2b2c0c91e41e
3,DKK,29.00,2006741,2023-03-03T22:59:59.000Z,2023-03-02T13:44:08.000Z,40.00,69.0,42.03,2023-03-02T05:31:40.000Z,518.181,kg,KYLLINGEBRYST M/ KARTOFLER,251942,https://digitalassets.sallinggroup.com/image/u...,Middagsretter>Færdigretter>Mejeri & køl>Classi...,Dinner Meals>Ready To Eat Meals>Dairy And Cold...,"{'address': {'city': 'København Ø', 'country':...",foetex,føtex Østerbro Centret,78067122-cba4-431d-893e-2b2c0c91e41e
4,DKK,105.91,2006710,2023-03-09T22:59:59.000Z,2023-03-03T10:36:44.000Z,13.09,119.0,89.00,2023-03-01T11:30:12.000Z,494.561,kg,NAKKEFILET SLAGTEREN,254881,https://digitalassets.sallinggroup.com/image/u...,Nakkefilet & svinekam>Stege & hele kødstykker>...,Pork Neck Pork Loin>Roasted Whole Pork Pieces>...,"{'address': {'city': 'København Ø', 'country':...",foetex,føtex Østerbro Centret,78067122-cba4-431d-893e-2b2c0c91e41e

In [99]:
df.describe()

,offer.discount,offer.newPrice,offer.originalPrice,offer.percentDiscount,offer.stock
count,551.000000,551.000000,551.000000,551.000000,551.000000
mean,10.391597,18.191887,28.583485,36.250254,20.534421
std,8.534322,12.252218,18.425719,13.229217,75.859168
min,1.000000,2.000000,6.000000,10.000000,1.000000
25%,5.000000,10.000000,18.250000,24.810000,1.000000
50%,8.500000,14.000000,23.950000,33.330000,3.000000
75%,12.600000,23.000000,35.000000,43.775000,7.000000
max,105.910000,130.000000,199.000000,89.000000,653.000000

In [100]:
# clean product categories
df['product.categories.en'] = df['product.categories.en'].str.replace('>sification 1 root>umer Faced Hierarchy','')
new = df["product.categories.en"].str.split(">", n = 6, expand = True)

for i in np.arange(0,6,1):
    df[f'product.category.en.level{i}'] = new[i]

In [101]:
# add year, month, weekday and hour for each timestamp
df['offer.endTime']  = pd.to_datetime(df['offer.endTime']).dt.tz_convert('Europe/Berlin')
df['offer.startTime'] = pd.to_datetime(df['offer.startTime']).dt.tz_convert('Europe/Berlin')
df['offer.lastUpdate'] = pd.to_datetime(df['offer.lastUpdate']).dt.tz_convert('Europe/Berlin')

df['offer.endTime.hour'] = df['offer.endTime'].dt.hour
df['offer.endTime.weekday'] = df['offer.endTime'].dt.weekday
df['offer.endTime.month'] = df['offer.endTime'].dt.month
df['offer.endTime.year'] = df['offer.endTime'].dt.year

df['offer.startTime.hour'] = df['offer.startTime'].dt.hour
df['offer.startTime.weekday'] = df['offer.startTime'].dt.weekday
df['offer.startTime.month'] = df['offer.startTime'].dt.month
df['offer.startTime.year'] = df['offer.startTime'].dt.year

df['offer.lastUpdate.hour'] = df['offer.lastUpdate'].dt.hour
df['offer.lastUpdate.weekday'] = df['offer.lastUpdate'].dt.weekday
df['offer.lastUpdate.month'] = df['offer.lastUpdate'].dt.month
df['offer.lastUpdate.year'] = df['offer.lastUpdate'].dt.year

In [102]:
# visualise data
# start offer
offer_category_weekday = pd.pivot_table(df, values='offer.ean', index='offer.startTime.weekday',columns='product.category.en.level0',aggfunc='count')
offer_category_weekday

product.category.en.level0,Apple Juices,Beef Sausages,Blue Cheese Brie,Butter,Buttermilk,Cheese For Slicing,Cheese Specialities,Chicken Sausages,Coffee Cream,Cold Coffee Drinks Cacao,...,Special Whole Breads,Sun Flower Seeded Rye Breads,Thick Sausages,Toast Breads,Whipping Cream,Whole Breads,Whole Milk,Yoghurt,fresh Dough,spareribs Barbecue Meat
offer.startTime.weekday,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,1.0,NaN,NaN,1.0,2.0,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,5.0,NaN,1.0,NaN,NaN,NaN,3.0,NaN,NaN
3,NaN,1.0,5.0,1.0,NaN,5.0,4.0,NaN,NaN,1.0,...,NaN,6.0,1.0,NaN,NaN,NaN,NaN,3.0,NaN,1.0
4,NaN,1.0,3.0,NaN,1.0,4.0,4.0,1.0,NaN,1.0,...,1.0,21.0,1.0,13.0,2.0,3.0,NaN,8.0,1.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN